h1 {
    font: normal 40pt arial;
    text-align: center;
    color: white;
}

body{
    background-color: black;
    color: white;
}

h2 {
 font: normal 25pt arial;
}

ol {
    font: normal 25 arial;
}